ul,li{
  list-style: none;
  padding: 0;
  line-height:1.8;
}
.carousel{
  .ant-carousel {
    padding-bottom: 16px;
    .slick-slide {
      text-align: center;
      overflow: hidden;
      h3 {
        color: #fff;
      }
    }
    .slick-dots-bottom {
      bottom: 30px;
    }
  }
  img{
    width:100%;
  }
}

a:visited, a:hover, a:active, a:focus {
  text-decoration: none;
}
a {
  color: #FFF;
  padding: 5px 10px;
}
.ml-30 {
  margin-left: 30px;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.icon {
  margin: auto 10px;
  font-size: 20px;
}

.card {
  .ant-card{
    min-height:300px;
  }
  .content-p{
    margin-right: 10px;
  }
  .content-ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
  }
  .ant-card-cover{
    height: 150px;
    position: relative;
    overflow: hidden;
    img{
      position: absolute;
      margin: auto 0;
    }
  }
  .ant-card-body{
    height: 150px;
  }
}

.mb-50{
  margin-bottom:50px;
}
.w-100{
  width:100%;
}

// BackTop

div.ant-back-top {
  bottom: 100px;
  right: 30px;
}